<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <style type="text/css">
        body {
            background: linear-gradient(100deg, #603813, #b29f94);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .form-signin {
            background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
            border-radius: 5px;
            width:440px;
            height:300px;
        }
        .form-signin h2 {
            text-align: center;
        }
        label{
            padding-left: 10px;
        }
        input{
            margin: 0px;
            width:200px;
        }
        #h{
            color:whitesmoke;
        }
    </style>
</head>
<body>
    <h3 id="h">Login with your credentials to check the nutritional amounts.</h3>
    <br>
    <div class="form-signin">
        <h2>Login</h2>
        <form action="/signin" method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" required name="email" id="email" placeholder="Enter Email id">
            </div>
            <br>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" required name="pwd" id="pwd" placeholder="Enter Password">
            </div>
            <br>
            <div id="btn">
            <input type="submit" class="btn btn-success btn-block" name="submit" value="Submit">
            </div>
        </form>
    </div>
</body>
</html>
